




/* HEADER GRID */
/* HEADER GRID */
/* HEADER GRID */

.grid {
    position: fixed;
    height: 90px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 60px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    top: 2%;
    left: 13%;
    right: 13%;
    z-index: 500;
}

.grid-background {
    background-color: white;
    position: fixed;
    display: block;
    z-index: 400;
    height: 130px;
    width: 100%;
    top:0;
    left:0;
}

.grid-item {
    border: 1px solid blue;
    padding-left: 5px;
    padding-right: 5px;
}

a.grid-item:link {
    font-family: 'Space Grotesk';
    font-size: 13px;
    color: blue;
    line-height: 150%;
    letter-spacing: -0.5px;
    text-decoration: none;
}

a.grid-item:hover {
    background-color: blue;
    color: #ffffff;
}

#item-1 {
    text-align: center;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#item-2 {
    grid-column: 2 / 11;
    grid-row: 1;
}

#item-3 {
    grid-column: 2 / 5;
    grid-row: 2;
}

#item-4 {
    grid-column: 5 / 8;
    grid-row: 2;
}

#item-5 {
    grid-column: 8 / 11;
    grid-row: 2;
}

@media only screen and (max-width: 950px){
    .grid {
        position: fixed;
        height: 90px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 60px 30px;
        border-style: solid;
        border-width: 2px;
        border-color: blue;
        top: 2%;
        left: 13%;
        right: 13%;
    }
    

    #item-1 {
        text-align: center;
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    #item-2 {
        grid-column: 2 / 5;
        grid-row: 1;
    }
    
    #item-3 {
        grid-column: 2 / 3;
        grid-row: 2;
    }
    
    #item-4 {
        grid-column: 3 / 4;
        grid-row: 2;
    }
    
    #item-5 {
        grid-column: 4 / 5;
        grid-row: 2;
    }

    a.grid-item:link {
        font-family: 'Space Grotesk';
        font-size: 10px;
        color: blue;
        line-height: 150%;
        letter-spacing: -0.5px;
        padding-top: 2.5px;
    }
}

@media only screen and (max-width: 750px){
    .grid {
        grid-template-columns: 90px auto auto auto;

    }

    .grid-background {
        height: 115px;
    }
}

/* TEXT STYLES */
/* TEXT STYLES */
/* TEXT STYLES */


h1{
    font-size: 200px;
    line-height: 0%;
    font-family: 'Space Grotesk';
    font-weight: 200;
    text-align: justify;
    letter-spacing: -5.5px;
    color: blue;
}

h2{
    font-family: 'Space Grotesk';
    color: blue;
    line-height: 70%;
    margin-top: -3px;
    margin-bottom: -1px;
    font-size: 45px;
    letter-spacing: -1px;
}

h3{
    font-family: 'Space Grotesk';
    color: blue;
    font-size: 18px;
    letter-spacing: -0.5px;
    margin-top: -3px;
    font-weight: 300;
}

h4{
    font-family: 'Space Grotesk';
    color: blue;
    font-size: 16px;
    letter-spacing: -0.5px;
    margin-top: -3px;
    font-weight: 300;
    text-align: justify;
    hyphens: auto;
}


h5{
    font-family: 'Space Grotesk';
    font-size: 13px;
    color:#ffffff;
    text-align: center;
    line-height: 0%;
}

h6{

    font-family: 'Space Grotesk';
    font-size: 13px;
    background-color: blue;
    color:#ffffff;
    text-align: center;
    line-height: 150%;
}

p{
    font-family: 'Space Grotesk';
    font-size: 13px;
    color: blue;
    text-align: center;
    line-height: 150%;
    letter-spacing: -0.5px;
}

a {
    text-decoration: underline;
    color: blue;
}

a:hover {
    font-style: italic;
}

@media only screen and (max-width: 950px){
    h1{
        font-size: 100px;
        line-height: 80%;
        font-family: 'Space Grotesk';
        font-weight: 200;
        text-align: justify;
        letter-spacing: -5.5px;
        color: blue;
    }

    h2{
        font-family: 'Space Grotesk';
        color: blue;
        line-height: 70%;
        margin-top: -3px;
        margin-bottom: -1px;
        font-size: 35px;
        letter-spacing: -1px;
    }

    p{
        font-family: 'Space Grotesk';
        font-size: 10px;
        color: blue;
        text-align: center;
        line-height: 150%;
        letter-spacing: -0.5px;
        padding-top: 2.5px;
    }

}

@media only screen and (max-width: 750px){
    h1{
        font-size: 150px;
        line-height: 80%;
    }

    h2{
        font-size: 40px;
        line-height: 120%;
        padding-top: 2px;
    }
}


@media only screen and (max-width: 480px){
    h1{
        font-size: 80px;
        line-height: 80%;
    }

    h2{
        font-size: 20px;
        line-height: 120%;
        padding-top: 8px;
    }

    h3 {
        font-size: 16px;
        padding-bottom: 0;
    }

    h4{
        font-size: 9px;
        hyphens: auto;
    } 

}

/* PAGE STRUCTURE */
/* PAGE STRUCTURE */
/* PAGE STRUCTURE */

section {
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 80%;
    position: relative;
}

/* INTRO SPACE */
/* INTRO SPACE */
/* INTRO SPACE */

html {
    scroll-behavior: smooth;
}

body{
    padding-bottom: 100px;
    height:435vh;
}


.intro-text {
    position: absolute;
    top: 68%;
    left: 13%;
    right: 13%;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 3px;
}

.draggable-icon {
    position: absolute;
    display: block;
    cursor:move;
    text-align: center;
}

#icon-01 {
    position: absolute;
    top: 20%;
    left: 80%;
}

#icon-02 {
    position: absolute;
    top: 35%;
    left: 80.2%;
}

.draggable-window {
    border: solid 3px blue;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

#nav-bar {
    height: 20px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    cursor: move;
}

#window-area {
    padding: 20px;
}

#window-01 {
    top: 50%;
    left: 57%;
    width: 35%;
    height: 300px;
    display: none;
    border: none;
    z-index: 300;
}

#window-02 {
    top: 15%;
    left: 55%;
    height: 300px;
    z-index: 120;
    border: none;
    display: none;
}

#window-03 {
    top: 42%;
    left: 30%;
    width: 32%;
    height: 200px;
    background-color: #ffffff;
    z-index: 100;
}

#window-04 {
    top: 15%;
    left: 13%;
    width: 40%;
    height: 420px;
    background-color: #ffffff;
    z-index: 30;
}

@media only screen and (max-width: 950px){
    .intro-text {
        position: absolute;
        top: 68%;
        left: 13%;
        right: 13%;
        border-bottom-style: solid;
        border-bottom-color: blue;
        border-bottom-width: 3px;
    }

    #window-03 {
        top: 45%;
        width: 40%;
    }
    
    #window-04 {
        top: 20%;
        width: 50%;
        height: 320px;
    }
}

@media only screen and (max-width: 750px){
    
    body{
        padding-bottom: 0px;
        height:240vh;
    }
    
    .intro-text {
        top: 10%;
        right: 30%;
        border-bottom-style: none;
    } 

    .draggable-icon {
        display: none;
    }

    #window-03 {
        display: none;
    }

    #window-04 {
        display: none;
    }


}

/* MOBILE LANDSCAPE */
@media only screen and (max-height: 400px){

    .intro-text {
        right: 13%;
    } 

}    

/* PROJECT GRID */
/* PROJECT GRID */
/* PROJECT GRID */

#projects {

    position:absolute;
    top: 85%;
    height:40px

}

.project-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 30px auto 65px;
    border-style: solid;
    border-width: 2px;
    border-color: blue; 
    background-color: #ffffff;
    position: absolute;
}

#projects {
    top: 85%;
    height:10px
}

#tale-of-two {
    top: 100%;
    right: 13%;
    width: 45%;
    height: 40%;
}

#skillsticker-01 {
    top: 101%; 
    left: 20%;
    min-width: 200px;
    width: 30%;
    max-width: 360px;
    z-index: 300;
}

#skillsticker-02 {
    top: 113%; 
    left: 10%;
    min-width: 180px;
    width: 25%;
    max-width: 320px;
    z-index: 300;
    transform: rotate(10deg);
}

#social-images {
    top: 145%; 
    left: 13%;
    right: 13%;
    height:60%;
}

#cam {
    top: 210%; 
    left: 13%;
    height:40%;
    width: 45%;
}

#skillsticker-03 {
    top: 210%; 
    left: 60%;
    min-width: 200px;
    width: 30%;
    max-width: 360px;
    z-index: 300;
    transform: rotate(-8deg);
}

#skillsticker-04 {
    top: 230%; 
    left: 70%;
    min-width: 180px;
    width: 25%;
    max-width: 320px;
    z-index: 300;
    transform: rotate(10deg);
}

#huenited {
    top: 255%; 
    left: 13%;
    right: 13%;
    height:60%;
    width: 35%; 
}

#project-5 {
    top: 255%; 
    right: 13%;
    height:60%;
    width: 35%; 
}

#cincy-nice {
    top: 320%; 
    left: 13%;
    right: 13%;
    height:60%;
}

#skillsticker-05 {
    top: 406%; 
    left: 13%;
    min-width: 200px;
    width: 30%;
    max-width: 360px;
    transform: rotate(-4deg);
    z-index: 300;
}

#skillsticker-06 {
    top: 385%; 
    left: 23%;
    min-width: 180px;
    width: 25%;
    max-width: 340px;
    transform: rotate(10deg);
    z-index: 300;
}

#neuropulse {
    top: 385%;
    right: 13%;
    width: 45%;
    height: 40%;
}

.project-grid-item-top {
    border: 1px solid blue;
    overflow: hidden;
}

.project-grid-item {
    border: 1px solid blue;
    padding: 10px;
    vertical-align: top;
    overflow-y: hidden;
    overflow-x: hidden;
}

.project-grid-item-vertical {
    border: 1px solid blue;
    padding: 10px;
    vertical-align: top;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-grid-item-horizontal {
    border: 1px solid blue;
    padding: 10px;
    vertical-align: top;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-block;
    white-space: nowrap;
}

span {
    vertical-align: 5%;
}

a.project-grid-item:link {
    color:blue;
    font-family: 'Space Grotesk';
    font-size: 25px;
    line-height: 190%;
    text-decoration: none;
}

a.project-grid-item:hover {
    background-color: blue;
    color: #ffffff;
}

#homepage-footer {
    position: absolute;
    top: 425%;
    left: 13%;
    right: 13%;
    margin-top: 50px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 65px 20px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    overflow: hidden;
}

@media only screen and (max-width: 950px){
    
    .project-grid {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 30px auto 40px;
        border-style: solid;
        border-width: 2px;
        border-color: blue; 
        background-color: #ffffff;
        position: absolute;
    }
    
    a.project-grid-item:link {
        font-family: 'Space Grotesk';
        font-size: 15px;
        line-height: 130%;
    }
}

@media only screen and (max-width: 750px){
    
    
    #projects {
        top: 27%;
        height:10px
    }

    .project-grid {
        grid-template-rows: 30px auto 45px;
    }
    
    #tale-of-two {
        top: 45%;
        height: 30%;
        width: 73%;
    }

    #skillsticker-01 {
        top: 73%; 
        left: 10%;
        min-width: 180px;
        width: 30%;
        max-width: 370px;
        transform: rotate(-4deg);
    }
    
    #skillsticker-02 {
        top: 78%; 
        left: 40%;
    }
    
    #social-images {
        top: 95%;
        min-height: 250px; 
        height:45%;
    }
    
    #cam {
        top: 165%; 
        height:30%;
        width: 73%;
    }

    #skillsticker-03 {
        top: 139%; 
        left: 18%;
        min-width: 220px;
    }
    
    #skillsticker-04 {
        top: 135%; 
        left: 47%;
        min-width: 190px;
    }
    
    #huenited {
        top: 200%;
        left: 13%;
        right: 13%; 
        height:30%;
        width: 74%;

    }
    
    #project-5 {
        top: 235%;
        left: 13%;
        right: 13%; 
        height:30%;
        width: 73%;
    }
    
    #skillsticker-05 {
        top: 264%; 
        left: 13%;
        min-width: 280px;
    }
    
    #skillsticker-06 {
        top: 274%; 
        left: 23%;
        min-width: 260px;
    }

    #cincy-nice {
        top: 307%; 
        left: 13%;
        right: 13%;
        height:30%;
        width: 74%;
    }
    
    #neuropulse {
        top: 342%;
        right: 13%;
        width: 73%;
        height: 30%;
    }

    a.project-grid-item:link {
        font-family: 'Space Grotesk';
        font-size: 14px;
        line-height: 100%;
    }

    #homepage-footer {
        top: 372%;
        grid-template-rows: 30px 40px 20px;
    }

}

/* MOBILE LANDSCAPE */
@media only screen and (max-height: 400px){

    #tale-of-two {
        top: 85%;
        min-height: 250px;
    }

    #skillsticker-01 {
        opacity: 0;
    }
    
    #skillsticker-02 {
        opacity: 0;
    }
    
    #social-images {
        top: 165%;
        min-height: 250px; 
    }
    
    #cam {
        top: 245%; 
        min-height: 250px; 
    }

    #skillsticker-03 {
        opacity: 0;
    }
    
    #skillsticker-04 {
        opacity: 0;
    }
    
    #huenited {
        top: 325%;
        min-height: 250px; 
    }
    
    #project-5 {
        top: 405%;
        min-height: 250px; 
    }
    
    #skillsticker-05 {
        opacity: 0;
    }
    
    #skillsticker-06 {
        opacity: 0;
    }

    #cincy-nice {
        top: 485%; 
        min-height: 250px; 
    }
    
    #neuropulse {
        top: 565%;
        min-height: 250px; 
    }

    #homepage-footer {
        top: 630%;
        grid-template-rows: 30px 40px 20px;
    }


}    

/* SCROLLBARS */
/* SCROLLBARS */
/* SCROLLBARS */

.project-grid-item-vertical::-webkit-scrollbar {
    width: 10px;
  }

.project-grid-item-vertical::-webkit-scrollbar-track {
    border-left-style: solid; 
    border-left-width: 2px;
    border-left-color: blue;
  }
  
.project-grid-item-vertical::-webkit-scrollbar-thumb {
    background: blue; 
  }

.project-grid-item-vertical::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.project-grid-item-horizontal::-webkit-scrollbar {
    width: 10px;
    height:10px;
  }

.project-grid-item-horizontal::-webkit-scrollbar-track {
    border-top-style: solid; 
    border-top-width: 2px;
    border-top-color: blue;
  }
.project-grid-item-horizontal::-webkit-scrollbar-thumb {
    background: blue; 
  }

.project-grid-item-horizontal::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  

/* IMAGE FILTER */
/* IMAGE FILTER */
/* IMAGE FILTER */

.monochrome-blue {
    filter: brightness(108%) contrast(98%) url(#svgTint) url(#svgGradientMap)
}

.monochrome-blue:hover {
    filter: none;
}

/* STICKERS */
/* STICKERS */
/* STICKERS */

.sticker {
    position: absolute;
    animation: rotation 10s infinite linear;
    z-index: 30;
}

#sticker-1 {
    width:20%;
    top: 20%;
    left: 89%
}

#sticker-2 {
    width:25%;
    top: 55%;
    left: -10%
}

#sticker-3 {
    width:12%;
    top: 45%;
    left: 14%
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@media only screen and (max-width: 750px){
    #sticker-1 {
        width: 20%;
        top: -170%;
        left: 40%
    }

    #sticker-2 {
        width:35%;
        top: 55%;
        left: -15%
    }

    #sticker-3 {
        display: none;
    }
}

/* MOBILE LANDSCAPE */
@media only screen and (max-height: 400px){

    #sticker-1 {
        width: 20%;
        top: -155%;
        left: 85%
    }
}

/* PROJECT PAGE STYLES */ 
/* PROJECT PAGE STYLES */ 
/* PROJECT PAGE STYLES */ 

.whole-ass-project{
    width: 75%;
    margin-top: 14%;
    margin-left: auto;
    margin-right: auto;

} 

.words{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top-style: solid;
    border-top-width: 2px;
    border-color: blue;
}

#details {
    grid-column: 1;
}

#description {
    grid-column: 2;
    padding-left: 50px;
}

.project-images {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
    row-gap: 5px;

}

#left-column {
    grid-column: 1 / 2;
    row-gap: 5px;
}

#right-column {
    grid-column: 2 / 3;
    row-gap: 5px;
}

#span-column {
    grid-column: 1 /3;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

li {
    padding-bottom: 5px;
}

ul li::before {
    content: "→";
    left: 0;
}

.more-projects {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 65px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    overflow: hidden;
}

@media only screen and (max-width: 950px){

    .whole-ass-project{
        margin-top: 20%;
    
    }
    
    .more-projects {
        margin-top: 40px;
        grid-template-rows: 30px 40px;

    }

}  

@media only screen and (max-width: 750px){

    .whole-ass-project{
        margin-top: 25%;
    
    }

    .words{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto;
        row-gap: -10px;
    }
    
    #details {
        grid-column: 1;
        grid-row: 1 ;
        height: 80px;
    }
    
    #description {
        grid-column: 1;
        grid-row: 2 ;
        padding-left: 0px;
        padding-top: -30px;
    }

    .project-images {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 5px;
        row-gap: 5px;
    
    }

    #left-column {
        grid-column: 1 / 2;
        row-gap: 5px;
    }
    
    #right-column {
        grid-column: 1 / 2;
        row-gap: 5px;
    }
} 

@media only screen and (max-width: 480px){

    .whole-ass-project{
        margin-top: 45%;
    
    }
}    

/* ABOUT */
/* ABOUT */
/* ABOUT */


.about-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: auto auto 95px;
    border-style: solid;
    border-width: 2px;
    border-color: blue; 
    background-color: #ffffff;
    position: absolute;
    width:100%;
    height: 55%;
    position: static;
}

#about-grid-01 {
    grid-column: 1 / 8;
    grid-row: 1 / 3;
}

#about-grid-02 {
    grid-column: 1 / 8;
    grid-row: 3 / 4;
}

#about-grid-03 {
    grid-column: 8 / 11;
    grid-row: 1 / 4;
    overflow-y: hidden;
}


.social-icons {
    padding-right: 10px;
    height: 55%;
}

@media only screen and (max-width: 750px){
    .about-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto 95px;
        height: 75%;
    }

    #about-grid-01 {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    #about-grid-02 {
        grid-column: 1;
        grid-row: 3 / 4;
    }

    #about-grid-03 {
        grid-column: 1;
        grid-row: 2 / 3;
        overflow-y: scroll;
    }

}


/* FOOTER */
/* FOOTER */
/* FOOTER */

footer{
    position: fixed;
    background-color: rgb(244, 249, 253);
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 20px;
}